body {
  font-family: -apple-system, -apple-system,
  BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen, Ubuntu, Cantarell, 'Open Sans',
  'Helvetica Neue', sans-serif;
  margin: 0;
  background-color: #f0f2f8;
}

h1 {
  color: #372948;
  margin: 0;
  padding: 20px;
  background-color: #92B4EC;
}

button {
  width: 80px;
  height: 30px;
  border: solid #372948;
  border-width: 2px;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
  background-color: #372948;
  color: white;
}

.dropdown-list, input {
  height: 30px;
  border: solid #372948;
  border-width: 2px;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: #D6E5FA;
}

.nav-link {
  margin:20px;
  color: #372948;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}

.nav-link:hover {
  color: #92B4EC;
}

/* ----------- Home Page ------------ */
.summary {
  font-size: 24px;
  color: #372948;
  text-align: center;
  margin-top: 50px;
  font-weight: 600;
}

.homecards {
  display: flex;
  flex-direction: row;
  margin: 100px;
  gap: 50px;
  justify-content: center;
}

.home-card {
  height: 250px;
  width: 250px;
  border: solid #372948;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.home-familiarity {
  font-size: 24px;
  padding: 10px;
  border-radius: 15px;
}

.unfamiliar {
  background-color: #FF7D7D;
}

.familiar {
  background-color: #FAD6A5;
}

.mastered {
  background-color: #B6E388;
}

.home-number {
  font-size: 40px;
  font-weight: 600;
  margin-top: 25px;
}

/* ----------- Problems Page ------------ */

.title {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 30% 20% 11% 9% 9% 10% 5%;
  gap: 1%;
  justify-items: center;
}

.single-problem {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 30% 20% 11% 9% 9% 10% 5%;
  gap: 1%;
}

.centered-item {
  justify-self: center;
}

/* ----------- Practice selection Page ------------ */
.practice-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
  width: 50vw;
  margin: auto;
  margin-top: 30px;
}

.selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.label {
  width: 160px;
  color: #372948;
  font-size: 20px;
  font-weight: 600;
}

.dropdown-list {
  width: 160px
}
/* ----------- Practice flashcards Page ------------ */
.flashcard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  width: 600px;
  height: 600px;
  margin: auto;
  margin-top: 50px;
  background-color: #D6E5FA;
  border-radius: 35px;
  padding: 20px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.card-duration {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

#info-name {
  color: #372948;
  font-size: 28px;
  font-weight: 600;
  height: 50px;
  text-align: center;
}

#info-cat {
  padding: 8px;
  border-radius: 12px;
  color: white;
  background-color: #73777B;
  font-size: 16px;
}

#go-to-leetcode {
  color:#372948;
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
  text-decoration: none;
  border: solid #372948;
  border-width: 2px;
  border-radius: 10px;
  padding: 5px
}

#go-to-leetcode:hover {
  background-color:#372948;
  color: white;
  border-width: 2px;
}

.mark-status {
  border:none;
  border-radius: 15px;
  width: 160px;
  height: 55px;
  font-size: 20px;
  font-weight: 500;
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.mark-status:hover {
  opacity: 0.5;
  cursor: pointer;
}

.status-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-button {
  height: 50px;
  width: 50px;
  font-size: 28px;
  border: none;
}


/* ----------- New Problem Page ------------ */
#new-problem-form {
  margin: auto;
  width: 50vw;
  display: flex;
  flex-direction: column;
}

